{% extends "base.html" %}


{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="main">
                <div class="loader">

                <div class="logo">
                </div>
                <div class="bg">
                    <div class="arrow"></div>
                    <div class="transfer">
                        <div class="add-files-caption">
                            <svg viewBox="24 0 72 72">
                                <path d="M60.493 72C79.883 72 96 55.882 96 36.493 96 16.118 79.882 0 60.493 0 40.118 0 24 16.118 24 36.493 24 55.883 40.118 72 60.493 72z" fill="#409fff" fill-rule="evenodd"></path><path d="M58 34h-9c-.553 0-1 .452-1 1.01v1.98c0 .567.448 1.01 1 1.01h9v9c0 .553.452 1 1.01 1h1.98c.567 0 1.01-.448 1.01-1v-9h9c.553 0 1-.452 1-1.01v-1.98c0-.567-.448-1.01-1-1.01h-9v-9c0-.553-.452-1-1.01-1h-1.98c-.567 0-1.01.448-1.01 1v9z" fill="#ffffff" fill-rule="evenodd">
                                </path>
                            </svg>
                            <h2>Add your files</h2>
                        </div>

                        <div class="transfer-footer">
                            <button type="button" class="transfer-button transfer-button-inactive">Transfer</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <div class="city">
        </div>
    </div>
{%  endblock content %}